@model fundagMVC.Classes.UsuarioReembolso


  <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Codigo</th>
                    <th>Projeto</th>
                    <th>Nome</th>
                    <th class="text-center">Criticidade</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var solicitacao in Model.Solicitacaos)
                {
                    <tr>
                        <td>@solicitacao.TipoSolicitacaoDescricao</td>
                        <td>@solicitacao.Codigo</td>
                        <td>
                            <a href="@Url.Action("ProjetoDetalhe", "Projeto")">
                                @solicitacao.ProjetoDescricao
                            </a>
                        </td>
                        <td>@solicitacao.DescricaoSolicitante</td>
                        <td class="text-center">
                            <i class="lnr lnr-warning warning"></i>
                        </td>
                        <td>@solicitacao.Data</td>
                        <td>R$ @solicitacao.ValorTotal</td>
                        <td>
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Ação
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@Url.Action("CadastroAdiantamento", "Adiantamento")">
                                            <i class="lnr lnr-pencil"></i> Continuar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#modal-adiantamento" class="visualizar">
                                            <i class="lnr lnr-eye"></i> Visualizar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>




